<div class="container-fluid px-4">
    <h1 class="mt-4">Đơn hàng đang giao</h1>
    <div class="card my-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh sách đơn hàng
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ tên</th>
                        <th>Số điện thoại</th>
                        <th>Tổng tiền</th>
                        <th>Ngày tháng</th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orders; let i = index">
                        <td> {{i + 1}} </td>
                        <td> {{item.fullName}} </td>
                        <td> {{item.phone}} </td>
                        <td> {{item.amount | currency:'
                            ':'symbol':'1.0-0'}}đ </td>
                        <td> {{item.date.toString()}} </td>
                        <td>
                            <div class="d-flex align-items-center gap-3">
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="GetById(item.id)"
                                    class="btn btn-sm btn-outline-danger">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                                <button data-bs-toggle="modal" (click)="GetById(item.id)" data-bs-target="#exampleModal"
                                    class="btn btn-sm btn-dark">
                                    <i class="fa-solid fa-list-ul"></i>
                                </button>
                                <button (click)="ConfirmationOrder(item.id)" class="btn btn-sm btn-primary">
                                    <i class="fa-solid fa-check"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 6rem auto; max-width: 80rem;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Chi tiết đơn hàng
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order.detal; let i = index">
                            <td> {{i + 1}} </td>
                            <td>
                                <div class="image">
                                    <img src="https://localhost:7192/api/GetImage/get-images-avatar/{{item.link}}"
                                        alt="">
                                </div>
                            </td>
                            <td> {{item.name}} </td>
                            <td> {{item.quantity}} </td>
                            <td>{{item.price| currency:'
                                ':'symbol':'1.0-0'}}đ</td>
                            <td>{{item.price * item.quantity| currency:'
                                ':'symbol':'1.0-0'}}đ</td>
                        </tr>
                    </tbody>
                </table>

                <div class="card" style="width: 100%;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Họ tên: {{user.fullName}}
                        </li>
                        <li class="list-group-item">
                            Địa chỉ: {{user.address}}
                        </li>
                        <li class="list-group-item">
                            Số điện thoại: {{user.phoneNumber}}
                        </li>
                    </ul>
                </div>

                <div class="mt-3">
                    <h4>Tổng tiền: {{order.total | currency:'
                        ':'symbol':'1.0-0'}}đ</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                    (click)="CancelOrder(order.id)">
                    Hủy đơn hàng
                </button>
                <button type="button" class="btn btn-primary" (click)="ConfirmationOrder(order.id)">
                    Xác nhận đã giao
                </button>
            </div>
        </div>
    </div>
</div>