<form [formGroup]="productForm">
    <div class="row">
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Tên sản phẩm
            </label>
            <input type="text" class="form-control" placeholder="Tên sản phẩm" formControlName="name">
            <p class="text-danger m-0" *ngIf="productForm.get('name')?.errors?.['required']">Bạn chưa nhập tên</p>
        </div>
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                đơn giá
            </label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Đơn giá" formControlName="price">
                <span class="input-group-text" id="basic-addon2">.000VNĐ</span>
            </div>
            <p class="text-danger m-0" *ngIf="productForm.get('price')?.errors?.['required']">Bạn chưa nhập đơn giá</p>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Số lượng
            </label>
            <input type="text" class="form-control" placeholder="Số lượng sản phẩm" formControlName="quantity">
            <p class="text-danger m-0" *ngIf="productForm.get('quantity')?.errors?.['required']">Bạn chưa nhập số lượng
            </p>
        </div>
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Màu sắc
            </label>
            <input type="text" class="form-control" placeholder="Màu sắc" formControlName="color">
            <p class="text-danger m-0" *ngIf="productForm.get('color')?.errors?.['required']">Bạn chưa nhập màu sắc</p>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Loại sản phẩm
            </label>
            <select class="form-select" id="inputGroupSelect02" formControlName="category">
                <option *ngFor="let item of options" [value]="item.id">
                    {{item.name}} 
                </option>
            </select>
        </div>
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Tình trạng rụng lông
            </label>
            <select class="form-select" id="inputGroupSelect02" formControlName="hair_loss">
                <option value="Nhiều">Nhiều</option>
                <option value="Ít">Ít</option>
                <option value="Bình thương">Bình thương</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Độ phổ biến
            </label>
            <select class="form-select" id="inputGroupSelect02" formControlName="popularity">
                <option value="Ít">Ít</option>
                <option value="Nhiều">Nhiều</option>
            </select>
        </div>
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Kích thước
            </label>
            <select class="form-select" id="inputGroupSelect02" formControlName="size">
                <option value="To">To</option>
                <option value="Nhỏ">Nhỏ</option>
                <option value="Vừa">Vừa</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Giới tính
            </label>
            <select class="form-select" id="inputGroupSelect02" formControlName="sex">
                <option value="true">Đực</option>
                <option value="false">Cái</option>
            </select>
        </div>
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Kiểu lông
            </label>
            <select class="form-select" id="inputGroupSelect02" formControlName="style_hair">
                <option value="Không">Không</option>
                <option value="Dài">Dài</option>
                <option value="Ngắn">Ngắn</option>
            </select>
        </div>
    </div>
    <!-- hình ảnh  -->
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="mb-3 col-12">
                    <label for="formFileMultiple" class="form-label">Hình ảnh</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple="" formControlName="file"
                        (change)="onFilesSelected($event)">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="formFileMultiple" class="form-label">
                        Mô tả sản phẩm
                    </label>
                    <textarea class="form-control" aria-label="With textarea" formControlName="descrition"></textarea>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <button class="btn btn-primary" style="width: 100%;" (click)="SumbitForm()"
                        [disabled]="productForm.invalid">Thêm sản phẩm</button>
                </div>
            </div>
        </div>
        <div class="col-6 px-4">
            <div class="row">

            </div>
        </div>
    </div>
</form>