<form [formGroup]="productForm">
    <div class="row">
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Tên sản phẩm
            </label>
            <input type="text" class="form-control" placeholder="Tên sản phẩm"
            formControlName="name"
            >
            <p class="text-danger m-0">Bạn chưa nhập tên</p>
        </div>
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                đơn giá
            </label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Đơn giá"
                formControlName="price"
                >
                <span class="input-group-text" id="basic-addon2">.000VNĐ</span>
            </div>
            <p class="text-danger m-0">Bạn chưa nhập đơn giá</p>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Loại sản phẩm
            </label>
            <select class="form-select" id="inputGroupSelect02"
            formControlName="category"
            >
                <option selected>Chọn loại sản phẩm</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="mb-3 col-6">
            <label for="formFileMultiple" class="form-label">
                Kích thước
            </label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Kích thước"
                formControlName="size"
                >
            </div>
        </div>
    </div>

    <!-- hình ảnh  -->
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="mb-3 col-12">
                    <label for="formFileMultiple" class="form-label">Hình ảnh</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple="" formControlName="files">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="formFileMultiple" class="form-label">
                        Mô tả sản phẩm
                    </label>
                    <textarea class="form-control" aria-label="With textarea"
                    formControlName="descrition"
                    ></textarea>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <button class="btn btn-primary" style="width: 100%;"
                    (click)="SumbitForm()"
                    >Thêm sản phẩm</button>
                </div>
            </div>
        </div>
        <div class="col-6 px-4">
            <div class="row">
                <div class="col-12" style="background-color: aqua; height: 100%; width: 100%;">

                </div>
            </div>
        </div>
    </div>
</form>