<div class="container-fluid px-4">
    <h1 class="mt-4">Lịch sử đơn hàng</h1>
    <div class="card my-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh sách đơn hàng
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ tên</th>
                        <th>Số điện thoại</th>
                        <th>Tổng tiền</th>
                        <th>Ngày tháng</th>
                        <th>Đơn hàng</th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orders; let i = index">
                        <td> {{i + 1}} </td>
                        <td> {{item.fullName}} </td>
                        <td> {{item.phone}} </td>
                        <td> {{item.amount | currency:'
                            ':'symbol':'1.0-0'}}đ</td>
                        <td> {{item.date}} </td>
                        <td>
                            <a class="btn btn-primary btn-sm text-capitalize pointer-event"
                                *ngIf="item.statusDelivery == 3"> giao thành công</a>
                            <a class="btn btn-danger btn-sm text-capitalize pointer-event"
                                *ngIf="item.statusDelivery == 4">
                                Đơn bị hủy
                            </a>
                        </td>
                        <td>
                            <div class="d-flex align-items-center gap-3">
                                <button data-bs-toggle="modal" (click)="GetById(item.id)" data-bs-target="#exampleModal"
                                    class="btn btn-sm btn-primary">
                                    <i class="fa-solid fa-list-ul"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 6rem auto; max-width: 80rem;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Chi tiết đơn hàng
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-4">
                <div class="modal-body mb-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of order.detal; let i = index">
                                <td> {{i + 1}} </td>
                                <td>
                                    <div class="image">
                                        <img src="https://localhost:7192/api/GetImage/get-images-avatar/{{item.link}}"
                                            alt="">
                                    </div>
                                </td>
                                <td> {{item.name}} </td>
                                <td> {{item.quantity}} </td>
                                <td>{{item.price| currency:'
                                    ':'symbol':'1.0-0'}}đ</td>
                                <td>{{item.price * item.quantity| currency:'
                                    ':'symbol':'1.0-0'}}đ</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="card" style="width: 100%;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Họ tên: {{user.fullName}}
                            </li>
                            <li class="list-group-item">
                                Địa chỉ: {{user.address}}
                            </li>
                            <li class="list-group-item">
                                Số điện thoại: {{user.phoneNumber}}
                            </li>
                        </ul>
                    </div>

                    <div class="mt-3">
                        <h4>Tổng tiền: 230.000đ</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>